@import "./styles/index.scss";

html,
body {
  height: 100%;
  width: 100%;
  background-color: $whitesmoke;

  .page-container {
    height: 100%;
    width: 100%;
  
    main {
      padding: 1%;
      font-size: $font-size-small;
  
      .row {
        min-height: 300px;
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  .carousel .item {
    height: 300px;
  }
  .card {
    margin-bottom: 20px;
    border: none !important;
  }
  .row-cols-1 {
    width: 94%;
    margin-left: 2.5%;
  }

  .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    max-height: 300px;
  }

  .bi {
    &.blue {
      color: $blue;
    }
    &.yellow {
      color: $yellow;
    }
    &.white {
      color: $white;
    }
  }

  .loader{
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
