@import "../../styles/index.scss";

header {
  @include flex(row, center, center);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $blue;
  padding: 10px;
  z-index: 10;
  height: 50px;
  .search {
    width: 28vw !important;
  }
  #logo{
    height: 45px;
    position: absolute;
    left: 10px;
    border-radius: 25px;
  }

  @media screen and (max-width: $screen-mobile) {
    .search {
      width: 200px !important;
      margin-left: 0px !important;
    }
    #logo{
      height: 35px;
      position: absolute;
      left: 10px;
      border-radius: 25px;
    }
  
  }

  #rightNavigation {
    position: absolute;
    right: 5px;
    a{
      margin-right: 5px;
    }
  }
}
