@import "../../styles/index.scss";

#cartPage{

    main{
        @include flex(column, center, center);
        position: relative;
        top:100px !important;
        
        img{
            width: 50px;
        }

        .cart-empty{
            overflow:  none;
            height: 400px;
            width: 100%;
            position: relative;
            @include flex(column, center, center);
            font-size: $font-size-xlarge;
            color: $yellow;
        }
        
    }
}

