@mixin full-width-height {
  width: 100%;
  height: 100%;
}
  
@mixin truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin plus-minus-btn {
  height: 1.2rem;
}

@mixin disabled {
  pointer-events: none;
  background: $grey2;
}