$border-radius1: 4px;
$border-radius2: 6px;
$border: 1px solid #CFCFCF;
$border2: 1px solid #E1E2E3;
$font-size-small: 12px;
$font-size-medium: 1rem;
$font-size-large: 18px;
$font-size-xlarge: 24px;
// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;
// Small tablets (portrait view)
$screen-tablet: 768px;
// Tablets and small desktops
$screen-large: 992px;
// Large tablets and desktops
$screen-xl-large: 1200px;